@using Microsoft.AspNetCore.Identity;
@using The_Gram.Data.Models;
@using The_Gram.Models.Post;
@using The_Gram.Services;
@inject UserManager<User> UserManager
@inject IUserService UserService
@model PostViewModel
@{
    User user = await UserManager.GetUserAsync(User);
    UserProfile profile = await UserService.GetProfileByIdAsync(user.CurrentProfileId);
    ViewBag.Title = $"{@Model.PostCaption}";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center mb-3">
    <a class="btn btn-dark" asp-action="PrevImage" asp-controller="Post" asp-route-thisPostId="@Model.Id" asp-route-currentImageIndex="@Model.CurrentImageIndex"> < </a>
    <img src="@Model.Images[@Model.CurrentImageIndex].URL" alt="Post Image" />
    <a class="btn btn-dark" asp-action="NextImage" asp-controller="Post" asp-route-thisPostId="@Model.Id" asp-route-currentImageIndex="@Model.CurrentImageIndex"> > </a>
</div>

<div class="text-center mb-3">
    Likes: @Model.Likes.Count()
</div>
<br />
<div class="text-center mb-3">
    <a class="btn btn-secondary" asp-controller="Post" asp-action="Like" asp-route-thisPostId="@Model.Id" asp-route-currentImageIndex="@Model.CurrentImageIndex">Like</a>
</div>
<br />
<div class="text-center mb-3">
    <form asp-controller="Post" asp-action="AddComment" asp-route-thisPostId="@Model.Id" asp-route-currentImageIndex="@Model.CurrentImageIndex" asp-route-currentProfileId="@profile.Id" method="post">
        <input type="hidden" name="postId" value="@Model.PostId" />
        <input class="form-control" name="commentText" />
        <button class="btn btn-success" type="submit">Comment</button>
    </form>
</div>

<div>
    <h3>Comments</h3>
    @foreach (var comment in Model.PostComments)
    {
        var commenter = await UserService.GetProfileByIdAsync(comment.CommenterId);
        <div>@commenter.Username: @comment.Content</div>
    }
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
